/* form */

div.form_holder{
    width:700;
}

div.radio_holder{
    display:block;
    text-align:left;
}

div.radio_holder p{
    text-align:center;
    margin-top:40px;
    font-size:30px;
    color:#036;
}

div.radio_holder p.left{
    text-align:left;
    padding-left:150px;
    margin-top:40px;
    font-size:30px;
    color:#036;
}


div.radio_holder p.multi{
    text-align:left;
    margin-top:20px;
    font-size:25px;
    color:#036;
}

div.radio_holder label{
    display:block;
    width:700px;
    padding-left:5em;
    text-align:left;
}

div.condition label{
    display:block;
    width:600px;
    padding-left:200px;
    text-align:left;
    line-height:125%;
}

div.smallcenter label{
    display:block;
    width:600px;
    padding-left:300px;
    text-align:left;
    line-height:125%;
}


div.multi label{
    display:inline;
    width:700px;
    padding-left:20px;
    text-align:left;
}

div.input_holder{
    text-align:center;
    display:inline;
}

div.input_holder label{
    padding-bottom:30;
    margin-left:15px;
    text-align:center;
}

div.input_holder p{
    margin-top:40px;
    font-size:20px;
    color:#036;
}

div.input_holder p.subheader{
    font-size:25px;
}


fieldset{margin:1em 0;border:none;border-top:1px solid #ccc;}
legend{margin:1em 0;padding:0 .5em;color:#036;background:transparent;font-size:30;font-weight:bold;text-align:center;}


/* input[type="radio"], input[type="checkbox"] {vertical-align: middle; margin: 0px; } */


/* div.fm-multi div{margin:5px 0;} */
/* div.fm-multi input{width:1em;} */

/* label{float:left;width:400px;padding:0 1em;text-align:right;} */



/* form{margin:0;padding:0;} */
/* fieldset{margin:1em 0;border:none;border-top:1px solid #ccc;} */
/* legend{margin:1em 0;padding:0 .5em;color:#036;background:transparent;font-size:1.3em;font-weight:bold;} */
/* label{float:left;width:100px;padding:0 1em;text-align:right;} */
/* fieldset div{margin-bottom:.5em;padding:0;display:block;} */
/* fieldset div input,fieldset div textarea{width:150px;border-top:1px solid #555;border-left:1px solid #555;border-bottom:1px solid #ccc;border-right:1px solid #ccc;padding:1px;color:#333;} */
/* fieldset div select{padding:1px;} */
/* div.fm-multi div{margin:5px 0;} */
/* div.fm-multi input{width:1em;} */
/* div.fm-multi label{display:block;width:200px;padding-left:5em;text-align:left;} */
/* #fm-submit{clear:both;padding-top:1em;text-align:center;} */
/* #fm-submit input{border:1px solid #333;padding:2px 1em;background:#555;color:#fff;font-size:100%;} */
/* input:focus,textarea:focus{background:#efefef;color:#000;}fieldset div.fm-req{font-weight:bold;} */
/* fieldset div.fm-req label:before{content:"* ";} */
/* body{padding:0;margin:20px;color:#333;background:#fff;font:12px arial,verdana,sans-serif;text-align:center;} */
/* #container{margin:0 auto;padding:1em;width:350px;text-align:left;} */
/* p#fm-intro{margin:0;} */
