/* slides */
div.exp {
    width:100%;
    overflow:hidden;
}

div.slide_wrapper {
    position:relative;
    margin: 0px auto;
    padding: 0px;
    background-color: rgb(255,255,255);
}

#i0 {
    font-size: 18px;
}


div.slide {
    border: 1px solid red;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    background-color: rgb(255,255,255);
    /* overflow:auto; */
}

div.fullslide {
    border: 1px solid red;
    width: auto;
    height: auto;
}

div.slideInner {
   height: auto;
    width: auto;
    overflow: auto;
}

div.pad {
    padding:0px 10px;
    border: 1px solid red;
    width: auto;
    height: auto;
}
