/* General styles */

/* We want the page to sit flush inside the browser window - that means no margins or padding. Also, use a nice-looking serif font. */
body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 16px;
    line-height: 20px;
}


/* Buttons, one of which is Long's. Royalties due. */
input, select, button {font-family: Georgia, serif; font-size: 14px;}

button.classic{
    background-repeat:repeat;
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding:0px;
    padding-bottom:0px;
    font-size: 20px;
    min-height: 50px;
    min-width: 80px;
}

button.default {
    background: url(images/button-gradient.png);
    background-repeat:repeat;
    background-size: 200px 500px;
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:10px;
    padding-bottom:10px;
    min-width: 90px;
    font-size: 100%;
}


button:active {
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    background: none;
    background-color: #c9c9c9;
}

button[disabled] {
    background: url(zen-button.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    cursor: not-allowed;
}

button.min {
    padding:0;
    margin:0;
}

button.large {
    height:50px;
    min-width:100px;
}

button.space {
    margin-left: 40px;
    margin-right: 40px;
}


/* sliders */

.slider-lbl1 {
    position: absolute;
    font-size : 20px;
    width:auto;
}

.slider-lbl2 {
    position: absolute;
    font-size: 20px;
    width:auto;
}

.slider_outer {
    width: 100%;
    height: 50px;
    margin:50px 0px;
    padding: 0px;
}

.slider_holder {
    width: 100%;
    height: 50px;
    margin: 40px 0px;
    padding: 0px;
}


/* progress */
#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    visibility: hidden;
    z-index: 100;
}

.progress_text { font-size : 20px}



/*p*/
p.small {line-height:90%}

p.medium {
    font-size: 20px;
    line-height:110%;
    margin-left:10%;
    margin-right:10%;
}

p.big {
    line-height:130%;
    margin-left:10%;
    margin-right:10%;
}

p.bigest {line-height:130%; font-size: 45pt;}

/* /\* tables *\/ */
/* td { */
/*     font-family: Arial; */
/* } */

table {
    width: 100px; height: 100px; margin: 0 auto;
}

/* td.caption { text-align: center; line-height:100%; font-size: 30pt;} */
/* .tab { text-indent:40px } */
/* table.image {cellspacing : 10 px;}; */
/* table.image td { */
/*     border:solid 5x transparent; */
/* } */

/* div.table_outer { */
/*     padding-bottom:5px; */
/* } */

/* table.image td { */
/*     border-left:solid 30px transparent; */
/*     border-right:solid 30px transparent; */
/* } */

.hidden {
    display : none;
}
